<div id="mimenu" class="overflow-auto">

<h6 class="m-1" (click)="directivas.hidden=!directivas.hidden">Directivas</h6>
<ul class="list-group" #directivas>
    <li *ngFor="let item of productosMenu"
        class="list-group-item"
        [routerLink]="[ item.ruta ]"
        routerLinkActive="active">
        {{ item.texto }}
    </li>
</ul>

<h6 class="m-1" (click)="graficas.hidden=!graficas.hidden">Graficas</h6>
<ul class="list-group" #graficas hidden>
    <li *ngFor="let item of graficasMenu"
        class="list-group-item"
        [routerLink]="[ item.ruta ]"
        routerLinkActive="active">
        {{ item.texto }}
    </li>
</ul>

<h6 class="m-1" (click)="mapas.hidden=!mapas.hidden">Mapas</h6>
<ul class="list-group" #mapas hidden>
    <li *ngFor="let item of mapasMenu"
        class="list-group-item"
        [routerLink]="[ item.ruta ]"
        routerLinkActive="active">
        {{ item.texto }}
    </li>
</ul>

<h6 class="m-1" (click)="lifec.hidden=!lifec.hidden">lifecycle</h6>
<ul class="list-group" #lifec hidden>
    <li *ngFor="let item of lifecycleMenu"
        class="list-group-item"
        [routerLink]="[ item.ruta ]"
        routerLinkActive="active">
        {{ item.texto }}
    </li>
</ul>

<h6 class="m-1" (click)="selec.hidden=!selec.hidden">Selector Paises</h6>
<ul class="list-group" #selec hidden>
    <li *ngFor="let item of selectorMenu"
        class="list-group-item"
        [routerLink]="[ item.ruta ]"
        routerLinkActive="active">
        {{ item.texto }}
    </li>
</ul>

<h6 class="m-1" (click)="templ.hidden=!templ.hidden">Template</h6>
<ul class="list-group" #templ hidden>
    <li *ngFor="let item of templateMenu"
        class="list-group-item"
        [routerLink]="[ item.ruta ]"
        routerLinkActive="active">
        {{ item.texto }}
    </li>
</ul>

<h6 class="m-1" (click)="react.hidden=!react.hidden">Reactive</h6>
<ul class="list-group" #react hidden>
    <li *ngFor="let item of reactiveMenu"
        class="list-group-item"
        [routerLink]="[ item.ruta ]"
        routerLinkActive="active">
        {{ item.texto }}
    </li>
</ul>

<h6 class="m-1" (click)="auth.hidden=!auth.hidden">Validaciones</h6>
<ul class="list-group" #auth hidden>
    <li *ngFor="let item of authMenu"
        class="list-group-item"
        [routerLink]="[ item.ruta ]"
        routerLinkActive="active">
        {{ item.texto }}
    </li>
</ul>
</div>