<h5 class="m-1">Mapas</h5>
<ul class="list-group">
    <li *ngFor="let item of mapasMenu"
        class="list-group-item"
        [routerLink]="[ item.ruta ]"
        routerLinkActive="active">
        {{ item.texto }}
    </li>
</ul>

<h5 class="m-1">Selectors Paises</h5>
<ul class="list-group">
    <li *ngFor="let item of lifecycleMenu"
        class="list-group-item"
        [routerLink]="[ item.ruta ]"
        routerLinkActive="active">
        {{ item.texto }}
    </li>
</ul>

<h5 class="m-1">Selectors Paises</h5>
<ul class="list-group">
    <li *ngFor="let item of selectorMenu"
        class="list-group-item"
        [routerLink]="[ item.ruta ]"
        routerLinkActive="active">
        {{ item.texto }}
    </li>
</ul>

<h5 class="m-1">Template</h5>
<ul class="list-group">
    <li *ngFor="let item of templateMenu"
        class="list-group-item"
        [routerLink]="[ item.ruta ]"
        routerLinkActive="active">
        {{ item.texto }}
    </li>
</ul>

<h5 class="m-1">Reactive</h5>
<ul class="list-group">
    <li *ngFor="let item of reactiveMenu"
        class="list-group-item"
        [routerLink]="[ item.ruta ]"
        routerLinkActive="active">
        {{ item.texto }}
    </li>
</ul>

<h5 class="m-1">Validaciones</h5>
<ul class="list-group">
    <li *ngFor="let item of authMenu"
        class="list-group-item"
        [routerLink]="[ item.ruta ]"
        routerLinkActive="active">
        {{ item.texto }}
    </li>
</ul>
