

<h1>Gráficas Dobles</h1>
<hr>
<div class="row">
    <div class="col-md-6">
        <app-grafica-barra [horizontal]="true"
                            [barChartData]="productoData"
                            [barChartLabels]="proveedoresLabels"
                            [barChartLegend]="barChartLegend">
        </app-grafica-barra>
    </div>

    <div class="col-md-6">
        <app-grafica-barra [barChartData]="proveedoresData"
                           [barChartLabels]="proveedoresLabels"
                           [barChartLegend]="barChartLegend">
        </app-grafica-barra>
    </div>
</div>
<div class="row">
    <div class="col"><br>
        <button (click)="barChartLegend=!barChartLegend" class="btn btn-primary float-end"   >
            Leyenda
        </button>
    </div>
</div>